<!DOCTYPE html>
<html>
<head>
  <title>Vault</title>
</head>
<body>
  <header>
    <h1>Billetera Virtual</h1>
    <nav>
      <a href="/signup">Sign Up</a> |
      <a href="/login">Login</a>
    </nav>
    <hr>
  </header>

  <% if @error %>
    <p style="color: red;"><%= @error %></p>
  <% end %>

  <%= yield %>
</body>
</html>
