<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Vault - Login</title>
  <style>
    body {
      margin: 0;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background: linear-gradient(to bottom, #2c587f, #c8e0f7);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .signup-container {
      width: 100%;
      max-width: 500px;
      padding: 20px;
      box-sizing: border-box;
      text-align: center;
    }

    h1 {
      margin: 10px 0 30px;
      font-size: 24px;
      color: white;
    }

    h2 {
      margin: 10px 0 30px;
      font-size: 20px;
      color: #001d4a;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    input[type="email"],
    input[type="password"],
    button {
      width: 100%;
      padding: 15px;
      border: none;
      border-radius: 20px;
      font-size: 16px;
      box-sizing: border-box;
    }

    input[type="email"],
    input[type="password"],
    input[type="text"] {
      background-color: #d4e4f7;
      color: #333;
      border: none;
      border-radius: 20px;
      padding: 15px;
      font-size: 16px;
      width: 100%;
      box-sizing: border-box;
    }

    .show-password {
      font-size: 14px;
      color: #001d4a;
      display: flex;
      align-items: center;
      gap: 5px;
      margin-top: -5px;
      margin-bottom: 10px;
    }

    .show-password input[type="checkbox"] {
      width: auto;
    }
    


    button {
      background-color: #001d4a;
      color: white;
      font-weight: bold;
      margin-top: 10px;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    button:hover {
      background-color: #002c6c;
    }

    .forgot {
      text-align: center;
      font-size: 14px;
      color: #001d4a;
      text-decoration: none;
      margin-top: 5px;
      display: block;
    }

    .forgot:hover {
      text-decoration: underline;
    }

  </style>
</head>
<body>
  <div class="signup-container">
    <img src="/logoVault.png" alt="Logo de Vault" width="50">
    <h1>vault</h1>
    <h2>INICIAR SESIÓN</h2>
    <% if @error %>
      <p style="color: red;"><%= @error %></p>
    <% end %>
    <form action="/login" method="post">
      <input type="email" name="email" placeholder="Email" required>
      <input type="password" id = "password" name="password" placeholder="Contraseña" required>

      <!-- Mostrar contraseña -->
      <label class="show-password">
        <input type="checkbox" onclick="mostrarContrasena()"> Mostrar contraseña
      </label>


      <a class="forgot" href="/olvideMiContrasena">¿Olvidaste tu contraseña?</a>
      <button type="submit">INGRESAR</button>
    </form>
  </div>
  <script>
    function mostrarContrasena() {
      const input = document.getElementById("password");
      input.type = input.type === "password" ? "text" : "password";
    }
  </script>
</body>
</html>
