default: &default
  adapter: sqlite3
  pool: 5
  timeout: 5000

development:
  <<: *default
  database: db/wallet_development.sqlite3

test:
  <<: *default
  database: dp/wallet_test.sqlite3

production:
  <<: *default
  database: db/wallet_production.sqlite3
